.index{
    margin-top: 125rpx;
}
.faceCheck{
    height: 469rpx ;
    width: 469rpx ;
    margin:65rpx 141rpx 65rpx;;
}
.check{
    width: 400rpx;
    background-color: #2FC1E8;
}
.foot{
    margin-top: 20rpx;
}
.footText{
    padding-left: 420rpx;
}